* {
    border: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
}

body {
    background-color: hsl(172, 67%, 45%);
}

.leftSide {
    padding: 3rem;
    width: 50%;
}

.mainContainer {
    border-radius: 2rem;
    background-color: #fff;
}

.inputContainer {
    position: relative;
}

.inputContainer > input {
    margin-block: 1rem 4rem;
    padding : 1rem;
    font-size: 1.6rem;
    /* width : 30rem; */
    border : none;
    border-radius: 0.5rem;
    background-color : hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 1.6rem;
}

input[type=number] {
    -moz-appearance: textfield;
}

.inputContainer > img {
    position: absolute;
    top : 1.5rem;
    left : 1.5rem;
}

.label {
    font-family: 'Space Mono',sans-serif;
    font-size: 1.4rem;
    color : hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
}

.tipBox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5rem;
}

.tipBox > button {
    font-family: 'Space Mono', sans-serif;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color : hsl(183, 100%, 15%);
    color : #fff;
    font-size: 2rem;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.peopleInput {
    position: relative;
}

.peopleInput > input {
    margin-block: 1rem 4rem;
    padding: 1rem;
    font-size:1.6rem;
    /* width: 30rem; */
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 18px;
}

.peopleInput > img {
    position: absolute;
    top : 2.3rem;
    left : 1.5rem;  
}

.peopleInput > input:focus{
    outline: none;
 }
 
/* this controls the freturned result block */
.rightSide{
    background-color: hsl(183, 100%, 15%);
    border-left: 2rem;
    border-radius: 2rem;
    padding-block: 2rem 2rem;
    padding-inline: 2rem;
    padding: 3rem;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;

}

.separator > p {
    font-size: 2rem;
    font-family: 'Space Mono', sans-serif;
    color:#fff;
    font-weight: 700;
}

.reset {
    padding : 15px;
    border: none;
    border-radius: 5px;
    background-color: hsl(184, 14%, 56%);
    font-size: 16px;
    color : hsl(183, 100%, 15%);
    font-weight: 700;
    width : 280px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}