* {
    border: 0;
    padding: 0;
}

body {
    background-color: hsl(172, 67%, 45%);
}

.header {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
}

.leftSide {
    padding: 3rem;
}

.mainContainer {
    border-radius: 2rem;
    background-color: #fff;
}

.inputContainer {
    position: relative;
}

.inputContainer > input {
    margin-block: 0 4rem;
    padding : 1rem;
    font-size: 1.4rem;
    width : 100%;
    border : none;
    border-radius: 0.5rem;
    background-color : hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 1.6rem;
}

.inputContainer > img {
    position: absolute;
    top : 2.7rem;
    left : 1.5rem;
}

.inputContainer > input:focus {
    outline: none;
}

.label {
    font-family: 'Space Mono',sans-serif;
    font-size: 1.4rem;
    color : hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
}

.tipBox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 5rem;
}

.tipBox > button {
    font-family: 'Space Mono', sans-serif;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color : hsl(183, 100%, 15%);
    color : #fff;
    font-size: 2rem;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.tipBox > button.active {
    background-color: hsl(185, 41%, 84%);
    color : hsl(183, 100%, 15%);
}


.peopleInput {
    position: relative;
}

.peopleInput > input {
    margin-block: 1rem 4rem;
    padding: 1rem;
    font-size:1.6rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: 'Space Mono',sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 18px;
}

.peopleInput > img {
    position: absolute;
    top : 2.3rem;
    left : 1.5rem;  
}

.peopleInput > input:focus {
    outline: none; 
 }
 
/* this controls the returned result block */
.rightSide{
    background-color: hsl(183, 100%, 15%);
    border-left: 2rem;
    border-radius: 2rem;
    padding-block: 5rem 2rem;
    padding-inline: 2rem;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;

}

.separator > p {
    font-size: 2rem;
    font-family: 'Space Mono', sans-serif;
    color:#fff;
    font-weight: 700;
}

.separator > div {
    font-size: 3rem;
    font-family: 'Space Mono', sans-serif;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
}

.reset {
    padding : 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(184, 14%, 56%);
    font-size: 16px;
    color : hsl(183, 100%, 15%);
    font-weight: 700;
    width : 28rem;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Space Mono', sans-serif;
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width : 1200) {
    .mainContainer {
        display: flex;
        width: 9.2rem;
        height: 4.9rem;
        margin: 0 auto;
    }

    .leftSide {
        width: 50%;
    }

    .rightSide {
        width: 50%;
        margin-block: 3.5rem;
        margin-right: 3.5rem;
        padding-block: 5rem 2rem;
        padding-inline: 2rem;
        position: relative;
    }

    .separator {
        padding-inline: 4rem;
    }

    .reset {
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        width: 3.55rem;
        margin: 0 auto;
    }

    .inputContainer > input {
        width: 3rem;
    }

    .peopleInput {
        position: relative;
        width: 3.7rem;
        bottom: 2rem;
    }

    .peopleInput > img {
        position: absolute;
        top: 0.7rem;
    }

    .tipBox {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
    }

    .tipBox > input {
        width: 9.5rem;
    }
}